div {
    /* background: linear-gradient(45deg, rgb(153, 189, 255), rgb(196, 249, 255));
    */
    background: linear-gradient(45deg, rgb(179, 205, 255), rgb(255, 255, 255));
    /* background-image: url('bg.png');
  background-repeat: no-repeat; */
   
    padding: 50px;
    margin: 20px;
    box-shadow: 10px 10px 5px  rgb(111, 98, 207);


  }

  body {
    /* background-color: rgb(231, 121, 158); */
    background: linear-gradient(45deg, rgb(253, 186, 244), rgb(137, 137, 246));


      

  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color:#332c98;
  }

  a {
    /* color: #fd409b; Set your desired color */
    color:#6078ff;
    text-decoration: none; /* Optional: removes the underline */
}

a:hover {
    color: #551a8b; /* Color of link on hover */
}

h2{
    font-family: "Lexend Deca", sans-serif;
    font-size: 80px;
    /* color: #f665ab; */
    color:#6078ff;
    text-align: center;

}

ul{
  font-family: "Lexend Deca", sans-serif;
  font-size: 60px;
  /* color: #f665ab; */
  color:#6078ff;
  text-align: center;
  text-align: left;
}

h3{
  font-family: "Lexend Deca", sans-serif;
  font-size: 40px;
  /* color: #f665ab; */
  color:#332c98;
  text-align: center;
  text-align: left;
}

img{
  margin: 0px;
  padding:0px;
}



.title {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}


section{
  padding:20px
}

section p, section a { /* Selecting the paragraph and anchor tags within the header */
    /* text-align: center; */
    font-size: 1em; /* Smaller font size */
   /*  margin: 20; Remove default margin */
}

.profile-container {
  display: flex;            /* Enable flexbox */
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  height: auto;            /* Set the height of the container to the full viewport height */

}
